/* 상단 바*/

#header .nav{display: block; background-color: #161617CC; backdrop-filter: blur(10px); border-radius: 8px 0 0 0; position: fixed; top: 0; left: 0; width: 100%; min-height: 5vh; z-index: 10; }
.navac{display: block; background-color: black; ; border-radius: 8px 0 0 0; position: fixed; top: 0; left: 0; width: 100%; height: 0; z-index: 9; transition: height 0.12s ease-in;}
#header .container{}
#header .box{display: flex; min-height: inherit; align-items: center; justify-content: space-between; margin: 0 auto; box-sizing: border-box; width: 100%; max-width: 1024px; }
#header .container .item{position: relative;}
#header .container .item a{text-decoration: none; cursor: pointer; display: inline-block; opacity: 0.8; transition: opacity 0.3s ease-in-out;}
#header .container .item a:hover{opacity: 1;}
.store{position: relative;}

#header .container .item a span{font-size: 11px; font-weight: 200; line-height: 1; display: flex; align-items: center; justify-content: center; color: rgba(255, 255, 255, 8); height: 44px;}
#header .container .item .logo{width: 18px; padding-bottom: 3px; }
.ri-shopping-bag-line{font-size: 16px;}
.cartb{color: #f5f5f7;}

#header .iphone-nav{position: relative; background-color: #f2f2f2;}
#header .iphone-nav .container .item a span{font-size: 11px; font-weight: 200; line-height: 1; display: flex; align-items: center; justify-content: center; color:#333; height: 44px;}
#header .iphone-nav .container .item .w-logo{width: 15px;}